@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');






* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}


:root {
  --font-poppins: "Poppins", serif;
  --font-great-vives: "Great Vibes", serif;
  --font-quick-sand: "Quicksand", serif;

  /* ------------ color fondo frase y temporizador ------------ */
  --wave-color: #7495ac;


  --wave-regalos-color: #7495ac;

  /* ------------ color body ------------ */

  --color-body: #d1d1d1;

  /* -----Colores frase wave------- */

  --color-frase-wave: #ffffff;

  /* -------colores de botones de musica---------------- */

  --color-botones-music: #d1d1d1;
  --color-hover-botones-music: #416d8d;

  /* ----------botones call to action------------ */

  --fondo-boton-cta: #416d8d;
  --color-texto-boton-cta: #d1d1d1;
  --color-sombra-botones-cta: #d1d1d1;


  /* -----Colores textos------- */

  --color-titulos: #d1d1d1;
  --color-subtitulos: #d1d1d1;
  --color-parrafos: #d1d1d1;
  --color-texto-en-fotos: #7495ac;

  /* -----Colores transferencia------- */

  --color-fondo-transferencia: #7495ac;
  --color-texto-transferencia: #d1d1d1;

  /* -----Colores playlist------- */

  --color-fondo-titulo: #7495ac;
  --color-texto-titulo: #d1d1d1;




  /* ------ itinerario ----------- */
  --color-fondo-tituloPrincipal: #7495ac;
  --color-tituloPrincipal: #d1d1d1;
  --fondo-itinerario: #7495ac;
  --titulo-itinerario: #d1d1d1;
  --hora-itinerario: #d1d1d1;
  --fondo-barra-progreso: #d1d1d1;
  --avance-barra-progreso: #7495ac;



  /* -----------Confirmacion------------- */

  --fondo-confirmacion: #7495ac;
  --color-titulo-confirmacion: #ffffff;
  --color-parrafos-confirmacion: #ffffff;


  /* ---asistencia--- */
  --fondo-boton-asistencia: #9e9e9e;
  --fondo-boton-texto-asistencia: #ffffff;


  /* ----alimenticio--- */
  --fondo-botones-alimenticio: #767676;
  --fondo-botones-texto-alimenticio: #ffffff;

  --boton-seleccionado: #7495ac;
  --color-texto-seleccionado: #ffffff;

  /* -------frase------------ */

  --color-frase: 00312d;

  /* --------- INFO -------------- */

  --color-info: #7495ac;
  --color-info-text: #a4a4a4;
  --color-letra-web: #878787;
}



body,
html {
  overflow-x: hidden;
  z-index: 3;
}

body {
  background-color: #7495ac;
  position: relative;
  overflow: hidden;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/imagenes/body.webp);
  background-size: cover;
  background-position: center;
  opacity: .8;
  z-index: -1;
}

.contenedor {
  background-color: rgba(29, 71, 90, 0.374);
  display: flex;
  width: clamp(100px, 90%, 600px);
  margin: 0 auto;
  border-radius: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
}

.contenedor2 {
  margin-top: 4em;
}

.donde__noelia {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: clamp(100px, 90%, 500px);
  margin: 0 auto 4em;
  padding: 2em 1.5em;
  font-family: var(--font-poppins);
  font-size: .9rem;
  line-height: 1.4;
  color: #fff1c9;
  text-shadow: 0 0 3px #000, 0 0 4px #000, 0 0 5px #000;
}

/* ------------------header-------------------- */


.header {
  background: linear-gradient(rgba(0, 115, 255, 0), rgba(0, 76, 255, 0), rgba(0, 39, 71, 0.371)), url(../assets/header.webp);
  width: 100%;
  min-height: 100dvh;
  background-size: cover;
  background-position: top;
  padding: .1px;
  position: relative;
  overflow: hidden;
}

.header__title {
  text-align: center;
  font-family: var(--font-great-vives);
  color: #fff;
  font-size: 4rem;
  margin: 2em auto;
  font-weight: 100;
  text-shadow: 0 0 3px #183762, 0 0 3px #183762, 0 0 7px #183762, 0 0 7px #183762, 0 0 7px #183762, 0 0 7px #183762, 0 0 7px #183762, 0 0 7px #183762;
}




/* -------- temporizador ----------------- */




/* Contenedor Principal */
.contador {
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  font-family: var(--font-poppins);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

}

/* Título */
.contador__titulo {
  font-size: 1.8rem;
  font-weight: 400;
  font-family: var(--font-poppins);
  margin-bottom: 10px;
  text-align: center;
 text-shadow: 0 0 3px #183762, 0 0 3px #183762, 0 0 7px #183762, 0 0 7px #183762, 0 0 7px #183762, 0 0 7px #183762, 0 0 7px #183762, 0 0 7px #183762;
}

/* Contenedor de Tiempo */
.contador__tiempo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 300;
}

/* Bloques de Números */
.contador__bloque {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-size: 1rem;
  font-weight: 300;
}

/* Números */
.contador__numero {
  font-size: 1.5rem;
  font-weight: 400;
 text-shadow: 0 0 3px #183762, 0 0 3px #183762, 0 0 7px #183762, 0 0 7px #183762, 0 0 7px #183762, 0 0 7px #183762, 0 0 7px #183762, 0 0 7px #183762;

}

/* Texto de las unidades de tiempo */
.contador__texto {
  font-size: .7em;
text-shadow: 0 0 3px #183762, 0 0 3px #183762, 0 0 7px #183762, 0 0 7px #183762, 0 0 7px #183762, 0 0 7px #183762, 0 0 7px #183762, 0 0 7px #183762;
}

/* Separadores */
.contador__separador {
  font-size: 28px;
  padding: 0 10px;
}

/* ---------------INFO---------------------- */

.header__info {
  position: absolute;
  bottom: 7em;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  background-color: #87a2b6;
  color: #d1d1d1;
  padding: .7em 2em;
  border-radius: 3em;
  font-family: var(--font-poppins);
  z-index: 2;
  text-shadow: 0 0 3px #183762, 0 0 3px #183762, 0 0 5px #183762, 0 0 5px #183762, 0 0 5px #183762, 0 0 5px #183762, 0 0 7px #183762, 0 0 5px #183762;
  /* Mayor que el gif */
}

.header__gif {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5em;
  z-index: 1;
  /* Menor que .header__info */
  width: 350px;
}

main {
  position: relative;
}

.video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* ----------------- musica ----------------------- */

.player {
  position: absolute;
  display: flex;
  gap: 15px;
  border-radius: 10px;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  
}

.player__button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--color-botones-music);
  transition: color 0.3s;
}

.player__button:hover {
  color: var(--color-hover-botones-music);
}

.player__button--play {
  font-size: 30px;
}

/* ----------------DONDE------------------------- */


.donde {
  position: relative;
}

.donde__wave {
  display: flex;
  justify-content: center;
  width: clamp(100px, 100%, 1800px);
  height: 250px;
  /* Ajusta según tu diseño */
  transform: rotate(180deg);
  top: 0;

}

.donde__paragraph {
  position: absolute;
  top: 4em;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: var(--font-quick-sand);
  color: #d1d1d1;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.3;
  width: clamp(100px, 70%, 700px);
}

.donde__icon {
  display: flex;
  width: 80px;
  background-color: var(--fondo-iconos);
  border-radius: 50%;
  margin: 1.5em auto 0;
}

.donde__title {
  font-family: var(--font-great-vives);
  font-size: 3rem;
  margin: 0;
  text-align: center;
  font-weight: 700;
  color: var(--color-titulos);
  text-shadow: 0 0 3px #183762, 0 0 3px #183762, 0 0 5px #183762, 0 0 5px #183762, 0 0 5px #183762, 0 0 5px #183762, 0 0 7px #183762, 0 0 5px #183762;
}

.donde__img {
  display: flex;
  width: clamp(100px, 80%, 450px);
  margin: 0 auto 2em;
  border-radius: .5em;
}

.donde__datos {
  text-align: center;
  color: var(--color-parrafos);
  text-shadow: 0 0 3px #183762, 0 0 3px #183762, 0 0 5px #183762, 0 0 5px #183762, 0 0 5px #183762, 0 0 5px #183762, 0 0 7px #183762, 0 0 5px #183762;
}

.donde__text {
  font-family: var(--font-quick-sand);
  font-size: 1rem;
  font-weight: 500;
  margin: 0 0 .5em 0;
 text-shadow: 0 0 3px #183762, 0 0 3px #183762, 0 0 5px #183762, 0 0 5px #183762, 0 0 5px #183762, 0 0 5px #183762, 0 0 7px #183762, 0 0 5px #183762;
}

.donde__span {
  font-weight: 800;
  line-height: 1.5;
  font-size: 1.1rem;
}

.donde__note {
  font-family: var(--font-quick-sand);
  font-size: 1rem;
  padding: 0 2em;
  font-weight: 700;
}

.donde__dresscodeICON {
  display: flex;
  width: 70px;
  margin: 0 auto;
}

.donde__button {
  font-family: var(--font-poppins);
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(100px, 60%, 300px);
  height: 40px;
  background-color: var(--fondo-boton-cta);
  color: var(--color-texto-boton-cta);
  border-radius: 3em;
  margin: 0 auto;
  gap: .5em;
  box-shadow: 0 0 5px var(--color-sombra-botones-cta);
  margin: 2em auto;
}

.donde__ubicacion {
  width: 15px;
}

/* ------------------ regalos -------------------- */

.regalos {
  background: linear-gradient(rgba(0, 1, 86, 0.341), rgba(1, 1, 109, 0.16), rgba(0, 0, 255, 0.193), rgba(21, 0, 255, 0)), url(../assets/fotos/foto1.webp);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
  margin: 5em 0 0 0;
  position: relative;
  padding-top: 1em;
}

.donde__waveREGALOS {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
}

.regalos__icon {
  display: flex;
  width: 70px;
  margin: 0 auto;
}

.regalos__paragraph {
  text-align: center;
  font-family: var(--font-quick-sand);
  color: var(--color-frase-wave);
  font-weight: 500;
  width: clamp(100px, 50%, 500px);
  margin: 2em auto 0;
  line-height: 1.5;
  font-size: 1.1rem;
  padding: 0 3em;
 text-shadow: 0 0 3px #183762, 0 0 3px #183762, 0 0 5px #183762, 0 0 5px #183762, 0 0 5px #183762, 0 0 5px #183762, 0 0 7px #183762, 0 0 5px #183762;
}


/* ------------------ transferencia -------------------- */

.transferencia {
  position: absolute;
  display: flex;
  /* Asegura que el contenedor se ajuste al contenido */
  width: clamp(100px, 85%, 450px);
  left: 0;
  right: 0;
  bottom: 5em;
  margin: 0 auto;
  font-family: var(--font-quick-sand);
  border: 1px solid #fff;
  z-index: 100000;
}

.transferencia__boton {
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-fondo-transferencia);
  border: none;
  color: var(--color-texto-transferencia);
  padding: .8em 1em;

}

.transferencia__contenido {
  position: absolute;
  bottom: 100%;
  left: 0;
  background-color: var(--color-fondo-transferencia);
  color: var(--color-texto-transferencia);
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 10000;

}

.transferencia__contenido.visible {
  max-height: 200px;
  /* Altura máxima (ajusta según el contenido) */
  opacity: 1;
  /* Hace el contenido visible */
}



.transferencia__icono {
  transition: transform 0.3s ease-in-out;
  /* Transición suave para la rotación */
  display: inline-block;
  /* Necesario para que funcione la transformación */
  font-size: 1rem;
}

.transferencia__icono.rotado {
  transform: rotate(180deg);
  /* Rotación de 180 grados */
}



/* ------------------ fotos -------------------- */




.fotos__title {
  text-align: center;
  font-family: var(--font-great-vives);
  color: var(--color-texto-en-fotos);
  font-size: 2.5rem;
  font-weight: 500;
  text-shadow: 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff;
  margin: 0 0 1em 0;

}


.swiper {
  width: clamp(100px, 100%, 700px);
  height: 500px;
  /* Define la altura total del Swiper */
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 10em;
}

.swiper-slide {
  background-position: top;
  background-size: cover;
  width: 100%;
  /* Ajustar automáticamente el ancho */
  height: 100%;
  /* Ocupar toda la altura del Swiper */
  display: flex;
  align-items: center;
  justify-content: center;
  object-position: top;
}

.swiper-slide img {
  width: 80%;
  /* Define que la imagen tenga un ancho del 80% */
  height: 100%;
  /* Mantén la altura al 100% */
  object-fit: cover;
  /* Asegura que la imagen cubra el espacio sin deformarse */
  margin: 0 auto;
  /* Centra la imagen horizontalmente */
  display: block;
  /* Necesario para que el margin funcione */
}

/* --------------------PLAYLIST----------------------------- */


.playlist {
  font-family: var(--font-poppins);
  font-size: .9rem;
  text-align: center;
  margin: 4em auto;

}

.playlist__container {
  padding: 1em;

}

.title--playlist {
  font-size: 1.1rem;
  background-color: var(--color-fondo-titulo);
  color: var(--color-texto-titulo);
  font-weight: 600;
  padding: .5em;
  border-radius: .5em;

  margin: 0 0 1em 0;
}

.subtitle--playlist {
  font-size: 1rem;
  padding: 0 1em;
  line-height: 1.4;
  font-weight: 400;
  color: var(--color-parrafos);
  text-shadow: 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000;
}

.playlist__img {
  display: flex;
  width: clamp(50px, 20%, 100px);
  margin: 0 auto;
  background-color: var(--fondo-iconos);
}

.form__playlist {
  display: grid;
  gap: .5em;
  text-align: center;
  padding: 0 0 1em 0;
}

.playlist__mensaje {
  display: grid;
  text-align: center;
}

.playlist__label {
  margin-bottom: .5em;
  color: var(--color-parrafos);
  text-shadow: 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000;
}

.playlist__label2 {
  margin-top: 1em;
}

.playlist__input {
  display: flex;
  width: 300px;
  padding: .7em 0 .7em .5em;
  border-radius: .5em;
  border: none;



}

.boton__cta2 {
  margin: 1em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
}


#botonplay2 {
  margin-bottom: 1em;
  display: none;
}

.boton__cta2 {
  border: none;
  margin-top: 2em;
}

/* ----------ITINERARIOS------------------ */




.itinerario {
  display: flex;
  justify-content: center;
  width: clamp(100px, 100%, 900px);

  margin: 0 auto 5em;
  min-height: 500px;
  position: relative;
}

.itinerario__aviso {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5em 1em;
  border-radius: .5em;
  width: clamp(100px, 90%, 400px);
  margin: 2em auto;
  text-align: center;
  color: var(--color-tituloPrincipal);
  font-family: var(--font-great-vives);
  font-weight: 400;
  font-size: 1.7rem;
  background-color: var(--color-fondo-tituloPrincipal);
}

.line {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 3px;
  height: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

.itinerario__icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  left: 0em;
  margin: 0 auto;
  z-index: 200;
}




.text {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-basis: 130px;
  max-width: 300px;
  width: 40vw;
  text-align: center;
  background-color: var(--fondo-itinerario);

  color: #fff;
  padding: .5em 0;

  letter-spacing: .1px;
  border-radius: 1em;
  border: double;



}

.itinerario__name {
  font-family: var(--font-poppins);
  margin: 0;
  font-size: .9rem;
  font-weight: 400;
  color: var(--titulo-itinerario);
}

.itinerario__name2 {
  border-top: 1px solid #ffffff;
  padding-top: .7em;
  color: var(--hora-itinerario);
}


.icon1 {
  transition: transform 0.3s ease;
  animation: scaleAnimation 20s ease 1s infinite;

}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }

  8.7% {
    /* 2/23 * 100% */
    transform: scale(1.3);
    filter: drop-shadow(0px 5px 5px var(--color-titles))
  }

  17.4% {
    /* 4/23 * 100% */
    transform: scale(1);
    filter: drop-shadow(0px 2px 2px var(--color-titles))
  }

  100% {
    transform: scale(1);
    filter: drop-shadow(0px 0px 0px var(--color-titles))
  }
}

.icon2 {
  transition: transform 0.3s ease;
  animation: scaleAnimation2 20s ease 4s infinite;
}

@keyframes scaleAnimation2 {
  0% {
    transform: scale(1);
  }

  8.7% {
    /* 2/23 * 100% */
    transform: scale(1.3);
    filter: drop-shadow(0px 5px 5px var(--color-titles))
  }

  17.4% {
    /* 4/23 * 100% */
    transform: scale(1);
    filter: drop-shadow(0px 2px 2px var(--color-titles))
  }

  100% {
    transform: scale(1);
    filter: drop-shadow(0px 0px 0px var(--color-titles))
  }
}

.icon3 {
  transition: transform 0.3s ease;
  animation: scaleAnimation3 20s ease 8s infinite;
}

@keyframes scaleAnimation3 {
  0% {
    transform: scale(1);
  }

  8.7% {
    /* 2/23 * 100% */
    transform: scale(1.3);
    filter: drop-shadow(0px 5px 5px var(--color-titles))
  }

  17.4% {
    /* 4/23 * 100% */
    transform: scale(1);
    filter: drop-shadow(0px 2px 2px var(--color-titles))
  }

  100% {
    transform: scale(1);
    filter: drop-shadow(0px 0px 0px var(--color-titles))
  }
}

.icon4 {
  transition: transform 0.3s ease;
  animation: scaleAnimation4 20s ease 11.5s infinite;
}

@keyframes scaleAnimation4 {
  0% {
    transform: scale(1);
  }

  8.7% {
    /* 2/23 * 100% */
    transform: scale(1.3);
    filter: drop-shadow(0px 5px 5px var(--color-titles))
  }

  17.4% {
    /* 4/23 * 100% */
    transform: scale(1);
    filter: drop-shadow(0px 2px 2px var(--color-titles))
  }

  100% {
    transform: scale(1);
    filter: drop-shadow(0px 0px 0px var(--color-titles))
  }
}

.icon5 {
  transition: transform 0.3s ease;
  animation: scaleAnimation5 20s ease 15.5s infinite;
}

@keyframes scaleAnimation5 {
  0% {
    transform: scale(1);
  }

  8.7% {
    /* 2/23 * 100% */
    transform: scale(1.3);
    filter: drop-shadow(0px 5px 5px var(--color-titles))
  }

  17.4% {
    /* 4/23 * 100% */
    transform: scale(1);
    filter: drop-shadow(0px 2px 2px var(--color-titles))
  }

  100% {
    transform: scale(1);
    filter: drop-shadow(0px 0px 0px var(--color-titles))
  }
}

.icon6 {
  transition: transform 0.3s ease;
  animation: scaleAnimation6 20s ease 18.7s infinite;
}

@keyframes scaleAnimation6 {
  0% {
    transform: scale(1);
  }

  8.7% {
    /* 2/23 * 100% */
    transform: scale(1.3);
    filter: drop-shadow(0px 5px 5px var(--color-titles))
  }

  17.4% {
    /* 4/23 * 100% */
    transform: scale(1);
    filter: drop-shadow(0px 2px 2px var(--color-titles))
  }

  100% {
    transform: scale(1);
    filter: drop-shadow(0px 0px 0px var(--color-titles))
  }
}


.progress-container {
  width: 10px;
  height: 100%;
  background-color: var(--fondo-barra-progreso);
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
  position: absolute;
  top: 0;
}

.progress {
  width: 100%;
  height: 0;
  background-color: var(--avance-barra-progreso);
  border-radius: 20px 20px 0 0;
  animation: progress-animation 20s linear infinite;
  position: absolute;
  top: 0;
}

@keyframes progress-animation {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}




.itinerario__item {
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
  width: 40px;
  height: 40px;

}



.text.right {
  left: 45px;
  /* Ajuste para el espacio entre el círculo y el texto */
}

.text.left {
  right: 45px;
  /* Ajuste para el espacio entre el círculo y el texto */
}



/* /////////////////// AGRADECIMIENTO //////////////////// */


.agradecimiento__contenedor {
  padding: 3em 0;
  background: linear-gradient(rgba(0, 1, 86, 0.341), rgba(1, 1, 109, 0.16), rgba(0, 0, 255, 0.193), rgba(21, 0, 255, 0)), url(../assets/fotos/fotoAGENDA.webp);
   background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  margin: 5em 0 0 0;
  position: relative;
  padding-top: 1em;
}

.parrafo--agradecimiento {
  padding: 1em 2em;
  line-height: 1.4;
  font-weight: 700;
  font-family: var(--font-poppins);
  color: var(--color-titulos);
  text-shadow: 0 0 3px #183762, 0 0 3px #183762, 0 0 7px #183762, 0 0 7px #183762, 0 0 7px #183762, 0 0 7px #183762, 0 0 7px #183762, 0 0 7px #183762;
  text-align: center;
}

.agradecimiento__title {
  text-align: center;
  font-size: 1.4rem;
  font-family: var(--font-poppins);
  font-weight: 900;
  text-decoration: underline;
  color: #183762;
  
}

.agradecimiento__fotos {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 1em;
  width: clamp(100px, 90%, 500px);
}

.agradecimiento__picture {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.agradecimiento__img {
  width: clamp(90px, 100%, 200px);
  border-radius: 10%;
}

.agradecimiento__name {
  margin: 1em 0 0 0;
  font-size: 1.5rem;
  text-align: center;
  color: #183762;
   
}

/* /////////////////// ALBUM DE FOTOS ////////////////////////// */


.album {
  margin: 8em auto;
}

.album__texto {
  font-family: var(--font-poppins);
  font-weight: 500;
  text-align: center;

  display: flex;
  width: clamp(100px, 90%, 400px);
  margin: 0 auto;
  color: var(--color-parrafos);
  text-shadow: 0 0 3px #000, 0 0 3px #000, 0 0 3px #000;

}

.title--album {
  margin: 0 0 1em 0;
  font-family: var(--font-great-vives);
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-titulos);
  text-shadow: 0 0 4px #000, 0 0 4px #000, 0 0 4px #000;
}

.album__container {
  padding: 1em;
}

.album__img {
  display: flex;
  width: clamp(100px, 75%, 250px);
  margin: 0 auto 2em;
}

.parrafo--album {
  padding: 0 1em;
  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 1em;
  text-align: center;
  color: var(--color-parrafos);
  text-shadow: 0 0 3px #000, 0 0 3px #000, 0 0 3px #000;
}

.album__insta {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .2em 0;
  gap: .5em;
  width: clamp(100px, 70%, 350px);
  margin: 1em auto;
  font-size: 1rem;
  font-weight: 600;
  font-family: var(--font-poppins);
  background-color: var(--fondo-boton-cta);
  color: var(--color-texto-boton-cta);
  padding: .7em 0;
  border-radius: 1em;
  cursor: pointer
}

.album__icon {
  width: 30px;
}

.boton__cta4 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .2em 0;
  gap: .5em;
  width: clamp(100px, 70%, 350px);
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 600;
  font-family: var(--font-poppins);
  background-color: var(--fondo-boton-cta);
  color: var(--color-texto-boton-cta);
  padding: .7em 0;
  border-radius: 1em;
  cursor: pointer
}

.parrafo__hashtag {
  display: flex;
  justify-content: center;
  width: clamp(100px, 60%, 300px);

  font-weight: bold;
  font-size: 1.3rem;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #fff;
  margin: .3em auto;
  padding: .5em 0;

}


/* --------------- CONFIRMACION -------------------- */



.confirmacion {
  background: linear-gradient(rgba(0, 0, 0, 0.144), rgba(0, 0, 255, 0), rgba(0, 0, 255, 0), rgba(255, 255, 0, 0)), url(../assets/fotos/foto1_responsive.webp);
  position: relative;
  padding: 0 0 2em 0;
  margin: 5em auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.confirmacion__icon {
  width: 50px;
  display: flex;
  margin: 2em auto;
  margin-bottom: 1em;
}

.confirmacion__title {
  font-family: var(--font-great-vives);
  color: var(--color-titulo-confirmacion);
  text-align: center;
  font-size: 2em;
  font-weight: 400;
  text-shadow: 0 0 5px #000, 0 0 5px #000, 0 0 5px #000, 0 0 5px #000;
}

.confirmacion__paragraph {
  font-family: var(--font-quick-sand);
  text-align: center;
  display: flex;
  width: clamp(100px, 90%, 500px);
  margin: 0 auto;
  color: var(--color-parrafos-confirmacion);
  font-weight: 700;
  font-size: 1rem;
  text-shadow: 0 0 5px #000, 0 0 5px #000, 0 0 5px #000, 0 0 5px #000;
}

.confirmacion__input {
  display: flex;
  width: clamp(100px, 90%, 450px);
  margin: 2em auto;
  padding: .7em 0 .7em .5em;
  border-radius: .5em;
  border: none;
  font-family: var(--font-quick-sand);
}

.asistencia {
  display: flex;
  justify-content: space-around;
  width: clamp(100px, 90%, 350px);
  margin: 0 auto;
}

.asistencia__labels {
  font-family: var(--font-quick-sand);
  font-weight: 500;
  background-color: var(--fondo-boton-asistencia);
  color: var(--fondo-boton-texto-asistencia);
  padding: .7em 1em;
  border-radius: .5em;
  width: 150px;
  display: flex;
  justify-content: center;
  text-shadow: 0 0 5px #000, 0 0 5px #000, 0 0 5px #000, 0 0 5px #000;
}

.asistencia__radios {
  display: none;
}

.alimenticio__container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto 2em;
}

.alimenticio__title {
  font-family: var(--font-quick-sand);
  text-align: center;
  font-size: .9rem;
  width: clamp(100px, 90%, 400px);
  margin: 1em auto;
  line-height: 1.4;
  color: var(--color-parrafos-confirmacion);
  font-weight: 500;
  text-shadow: 0 0 5px #000, 0 0 5px #000, 0 0 5px #000, 0 0 5px #000;
}

.contenedor__alimenticio {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-basis: 100px;
  max-width: 140px;
  flex-grow: 1;
  height: 2em;

}

.alimenticio__label {
  background-color: var(--fondo-botones-alimenticio);
  color: var(--fondo-botones-texto-alimenticio);
  font-family: var(--font-quick-sand);
  width: 150px;
  display: flex;
  justify-content: center;
  padding: .6em 0;
  border-radius: .5em;
  font-weight: 500;
}

.alimenticio__radios {
  display: none;
}

.confirmacion__textarea {
  display: flex;
  width: clamp(100px, 90%, 700px);
  margin: 0 auto;
  height: 150px;
  border-radius: .5em;
  border: none;
  padding: .5em 0 .5em .5em;
  font-family: var(--font-quick-sand);

}

.textarea__label {
  display: flex;
  justify-content: center;
  font-weight: 500;
  color: var(--color-parrafos-confirmacion);
  font-family: var(--font-quick-sand);
  margin: 2em 0 .5em 0;
  text-align: center;
  font-size: .9rem;
  text-shadow: 0 0 5px #000, 0 0 5px #000, 0 0 5px #000, 0 0 5px #000;
}

.confirmacion__button {
  display: flex;
  justify-content: center;
  padding: .7em 0;
  width: clamp(100px, 90%, 350px);
  border: none;
  margin: 1em auto;
  font-family: var(--font-quick-sand);
  border-radius: 1em;
  font-weight: 500;
}

.confirmacion__wave {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
}

.asistencia__labels.selected,
.alimenticio__label.selected {
  background-color: var(--boton-seleccionado);
  color: var(--color-texto-seleccionado);
  border-radius: 5px;
}

/* ------------------- AGENDA ------------------------- */

.frase2 {
  position: relative;
  margin: 10em auto 7em;
  background-color: var(--fondo-frase2);

}

.agenda {
  position: relative;
  margin-top: 4em;
}

.agenda__icon {
  display: flex;
  width: 60px;
  margin: 0 auto;
}

.agenda__title {
  font-family: var(--font-quick-sand);
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 1em;
  color: var(--color-titulos);
  text-shadow: 0 0 4px #000, 0 0 4px #000, 0 0 4px #000;
}

.agenda__foto {
  display: flex;
  width: clamp(100px, 70%, 300px);
  margin: 0 auto 4em;
  border-radius: 1em;
}

.agenda__footer {
  width: clamp(100px, 70%, 500px);
  margin: 2em auto;
  text-align: center;
  position: relative;
}

.agenda__pie {
  font-family: var(--font-great-vives);
  font-size: 1.8rem;
  font-weight: 500;
  z-index: 2;
  position: relative;
  color: var(--color-parrafos);
  text-shadow: 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000;

}

.agenda__gif2 {
  position: absolute;
  bottom: -140px;
  left: 30%;
  width: 100%;

  transform: translateX(-50%);
  z-index: -1;
}

/* ------------------- footer ------------------------- */

footer {
  background-color: var(--color-info);
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: .1px;
  display: flex;
}


.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.info__text {
  font-family: var(--font-poppins);
  color: var(--color-info-text);
  font-size: .8rem;
  padding: 0 1em;
  line-height: 1.5;
  margin: .7em auto 0;
  font-weight: 500;
}

.info_icon {
  width: 20px;
}

.info__link {
  padding: .5em;
  color: var(--color-letra-web);
  font-size: 1rem;
}